
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #110b0b;
}

.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.title-wrap{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

.title{
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.movies-collection{
    list-style: none;
    padding-left: 0;
}

.movies-item{
    margin-bottom: 20px;
    padding: 15px 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #bdb358;
}

.movies-title{
    margin-top: 0;
    margin-bottom: 20px;
}

.movies-year-wrap{
    display: flex;
    justify-content: end;
    margin-top: 0;
    margin-bottom: 8px;
}

.movies-year{
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #1a1a3b;
    color: #fff;
}

.casts-text{
    display: block;
    margin-bottom: 8px;
}

.casts-info{
    margin-top: 0;
    color: #646060;
}

.genras-wrap{
    display: flex;
    align-items: start;
}

.genras-text{
    margin-right: 10px;
}

.genras-info{
    margin-top: 0;
    margin-bottom: 0;
    color: #646060;
}

@media only screen and (min-width: 660px){
    .movies-collection{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 20px;
        flex-wrap: wrap;
    }

    .movies-item{
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-between;*/
        max-width: 305px;
    }
}


@media only screen and (min-width: 992px){
    .movies-collection{
        grid-template-columns: repeat(3, auto);
    }

    .movies-item{
        max-width: 280px;
    }
}

@media only screen and (min-width: 1200px){
    .movies-collection{
        grid-template-columns: repeat(4, auto);
    }

    .movies-item{
        max-width: 280px;
    }
}
